stages:
    - build
    - test
    - release

variables:
    GIT_SUBMODULE_STRATEGY: recursive

build:
    stage: build
    image: node:20
    script:
        - npm install
        - npm run build
    artifacts:
        paths:
            - main.js
            - manifest.json
            - styles.css

test:
    stage: test
    image: node:20
    script:
        - npm install
        - npm run lint

# Release job to push to GitHub Mirror
release_to_github:
    stage: release
    image: alpine:latest
    before_script:
        - apk add --no-cache git openssh-client
        - mkdir -p ~/.ssh
        - echo "$GITHUB_DEPLOY_KEY" > ~/.ssh/id_ed25519
        - chmod 600 ~/.ssh/id_ed25519
        - ssh-keyscan github.com >> ~/.ssh/known_hosts
    script:
        - git remote add github git@github.com:junevm/boxflow-obsidian.git
        - git push github main:main --force
    only:
        - main
    variables:
        GITHUB_DEPLOY_KEY: $GITHUB_DEPLOY_KEY
