stages:
    - build
    - test
    - release

variables:
    GIT_SUBMODULE_STRATEGY: recursive

build:
    stage: build
    image: node:20
    before_script:
        - npm install -g pnpm@10
    script:
        - pnpm install
        - pnpm run build
    artifacts:
        paths:
            - main.js
            - manifest.json
            - styles.css

test:
    stage: test
    image: node:20
    before_script:
        - npm install -g pnpm@10
    script:
        - pnpm install
        - pnpm run lint

release:
    stage: release
    image: node:20
    before_script:
        - apt-get update && apt-get install -y git openssh-client
        - npm install -g pnpm@10
        - mkdir -p ~/.ssh
        - echo "$GITHUB_DEPLOY_KEY" > ~/.ssh/id_ed25519
        - chmod 600 ~/.ssh/id_ed25519
        - ssh-keyscan github.com >> ~/.ssh/known_hosts
        - git config --global user.name "automated-release"
        - git config --global user.email "release@automated.com"
        - git remote add github git@github.com:junevm/boxflow.git || git remote set-url github git@github.com:junevm/boxflow.git
    script:
        - pnpm install
        - pnpm run release --ci
        - git push github master --tags --force
    only:
        - master
    variables:
        GITHUB_DEPLOY_KEY: $GITHUB_DEPLOY_KEY
